header {
    position: fixed;
    inset: 0 0 auto 0;
    padding: 3rem 3rem;
    transition: .25s;
    font-size: 1.5rem;
    filter: drop-shadow(0 0 .25rem rgba(0, 0, 0, .5));
    z-index: 1;
}
.header_shrunk {
    padding: 1rem 1.5rem 5rem 1.5rem;
    transition: .25s;
    background-image: linear-gradient(var(--bg-color) 30%, transparent 60%);
}

#header_title {
    display: grid;
}

header .title {
    font-size: 2.5em;
    line-height: .75em;
}
header .subtitle {
    font-size: 1.5em;
    font-family: 'Barlow', sans-serif;
}
.header_shrunk .title {
    font-size: 2em;
}
.header_shrunk .subtitle {
    font-size: 1em;
}

#top-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
}

#header_nav {
    display: grid;
    text-align: right;
}
.header_shrunk #header_nav {
    display: flex;
    text-align: center;
    gap: 1em;
}

#header_content_list {
    display: flex;
    position: unset;
    text-align: center;
    gap: 1em;
}

#header_content_list .title {
    font-size: 1em;
}

#header_content_list .details {
    opacity: .5;
    font-size: .75em;
    font-weight: 400;
}
.header_shrunk #header_content_list .details {
    display: none;
}

#open-menu {
    display: none;
}

@media (max-width: 800px) {
    header {
        padding: 1rem 2rem;
    }

    header .title {
        font-size: 1.9em;
        text-align: center;
        width: fit-content;
    }
    .header_shrunk .title {
        font-size: 1.5em;
    }


    #top-bar {
        grid-template-columns: 1fr;
    }
    .header_shrunk #top-bar {
        grid-template-columns: 1fr auto;
    }

    #header_nav {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: .5em;
        margin-bottom: .5em;
        border-bottom: 1px solid;
        font-size: 1.5em;
    }
    .header_shrunk #header_nav {
        display: none;
    }

    #header_content_list {
        font-size: 1.125em;
        gap: .5em;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: center;
    }
    #header_content_list .title {
        font-size: 1em;
    }

    #header_content_list .details {
        opacity: .5;
        font-size: .75em;
        font-weight: 400;
    }
    .header_shrunk #header_content_list .details {
        display: none;
    }
    
    #open-menu {
        width: 2em;
        height: 2em;
        cursor: pointer;
    }
    #open-menu img {
        width: 100%;
        aspect-ratio: 1;
    }
    .header_shrunk #open-menu {
        display: unset;
    }
    
}

#search-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 2em;
    border-radius: 1em;
    padding-left: .5em;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(.5em);
    border: 0px solid white;
    transition: .125s;
}
#search-bar input {
    background-color: transparent;
    border: none;
    height: 2em;
    font-size: 1em;
}
#search-bar img {
    width: 2em;
    padding: .25em;
    cursor: pointer;
}

.header_shrunk #search-bar {
    border:2px solid white
}