html {
    background-image: url('../../assets/images/spirited_away/background_2_spirited_away.jpg');
}

body {
    padding-top: 80em;
    background-image: linear-gradient(transparent, var(--bg-color) 40em);
    inset: 0;
}
.expand_on_hover:hover {
    scale: 1.125;
    transition: .25s;
    filter: drop-shadow(0 0 .0625rem );
}

@media (max-width: 800px) {
    html {
        background-attachment: fixed;
        background-size: 80em;
        background-position: 30% 0;
    }

    body {
        padding-top: 60em;
        background-image: linear-gradient(transparent, var(--bg-color) 50em);
    }
}
